<mat-toolbar class="toolbar">
  <div class="titulo">
    <span class="primeira-linha">Lanchonete da</span>
    <span class="segunda-linha">Maria</span>
  </div>
  <span class="spacer"></span>
  <a href="https://www.ifood.com.br/inicio" target="_blank">
    <button mat-flat-button color="warn">Faça seu Pedido</button>
  </a>
  <a href="https://maps.app.goo.gl/cjZr4n3rkQ2P4MzS7" target="_blank">
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="location_on"></mat-icon>
      Onde Estamos</button>
  </a>

</mat-toolbar>
